@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --body-back-color: #2b1103;
  --open-sans: "Open Sans";
  --crimpson-pro: "Cripmson Pro";
  --text-color: #dbc69c;
  --color-f2efe3b0: #f2efe3b0;
  --color-f2efe38f: #f2efe38f;
  --color-f2efe3b3: #f2efe3b3;
}

.phone-number:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--body-back-color);
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 15px;
}
.nav__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav {
  padding-top: 30px;
}
.nav__logo-logo {
  width: 87px;
  padding-bottom: 5px;
}
.nav__social {
  color: var(--body-back-color);
  padding: 20px 15px;
}

.nav__contact {
  font-family: var(--open-sans), sans-serif;
  color: #dbc69c;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: -12.5px -20px;
  padding-top: 45px;
  padding-bottom: 75px;
  color: var(--body-back-color);
  font-family: var(--open-sans), sans-serif;
}
.nav__link {
  text-decoration: none;
  color: #f4efe2b0;
  font-family: var(--open-sans), sans-serif;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: #f4efe2;
    text-decoration-line: underline;
  }
}

svg {
  width: 25px;
  height: 25px;
  background-color: var(--body-back-color);
  fill: var(--text-color);
}
svg:hover {
  fill: #a79b77;
}

.hotel-photo {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav__links,
  .nav__contact,
  .nav__socials {
    display: none;
  }
  .nav__top {
    display: flex;
    justify-content: start;
    padding-bottom: 50px;
  }

  .nav__links.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 24px;
    cursor: pointer;
  }
}

/* carousel */

.carousel-title {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-top: 50px;
  color: var(--color-f2efe3b0);
}

.carousel-item-description {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  color: var(--color-f2efe3b0);
  font-size: 16px;
}

#next-btn,
#prev-btn {
  border: none;
  background-color: var(--body-back-color);
  cursor: default;
  &:hover {
    cursor: pointer;
  }
}

#prev-btn {
  transform: rotate(180deg);
}
.carousel-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .carousel-item {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    color: var(--text-color);
    font-family: "Crimson Pro", serif;
  }
}
@media (min-width: 786px) {
  .carousel-block {
    .carousel-item {
      font-size: 31px;
    }
  }
}

@media (min-width: 992px) {
  .carousel-block {
    .carousel-item {
      font-size: 38px;
    }
  }
}

@media (max-width: 1200px) {
  #next-btn,
  #prev-btn {
    width: 32px;
    height: 32px;
    svg {
      width: 30px;
      height: 30px;
      fill: var(--body-back-color);
      background-color: var(--text-color);
      border-radius: 50%;
    }
  }
}

.duomo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.duomo__title {
  font-size: 12px;
  font-family: var(--open-sans), serif;
  color: var(--color-f2efe3b0);
  font-weight: bold;
}

.duomo__welcome {
  padding-top: 40px;
  font-size: 46px;
  font-family: var(--crimpson-pro), serif;
  color: var(--text-color);
}

.duomo__description {
  padding-top: 25px;
  font-size: 18px;
  color: var(--color-f2efe3b0);
  font-family: var(--open-sans), serif;
}

.duomo__reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 35px;
  .duomo__reservation-text {
    font-size: 16px;
    font-family: var(--crimpson-pro), serif;
    color: var(--text-color);
    font-weight: bold;
  }
  .duomo__video-text {
    font-size: 17px;
    font-family: var(--crimpson-pro), serif;
    color: var(--text-color);
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: #94876d;
      text-decoration-line: underline;
    }
  }
}

.duomo__reservation-text-border {
  border: 2px solid var(--text-color);
  padding: 10px 15px;
  cursor: default;
  transition: background-color 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: #94876d;
  }
}

@media (min-width: 786px) {
  .duomo__title {
    padding-top: 75px;
  }
  .duomo__welcome {
    font-size: 65px;
  }
}

@media (min-width: 992px) {
  .duomo__welcome {
    font-size: 74px;
  }
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.hotel-info__title {
  font-family: var(--open-sans), serif;
  font-size: 12px;
  color: var(--color-f2efe3b3);
  letter-spacing: 2px;
}

.hotel-info__description {
  font-size: 24px;
  font-family: var(--crimpson-pro);
  color: var(--text-color);
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 786px) {
  .hotel-info__description {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .hotel-info__description {
    font-size: 28px;
  }
}

.hotel-info__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  .hotel-info__item-title {
    font-size: 24px;
    font-family: var(--crimpson-pro);
    color: var(--text-color);
    padding-top: 15px;
    font-weight: bold;
  }
  .hotel-info__item-description {
    font-family: var(--open-sans), serif;
    font-size: 16px;
    color: var(--color-f2efe38f);
    padding-top: 20px;
  }
}

.hotel-info__image {
  width: 50px;
}

@media (min-width: 786px) {
  .hotel-info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .hotel-info__image {
    width: 70px;
  }
  .hotel-info__item {
    .hotel-info__item-title {
      font-size: 26px;
    }
  }
}

@media (min-width: 992px) {
  .hotel-info__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
  .hotel-info__item {
    .hotel-info__item-title {
      font-size: 28px;
    }
  }
}


.hotel-details-img{
  width: 600px;
}